.MultiCarousel { 
  padding: 15px; 
  position:relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.MultiCarousel .MultiCarousel-inner {
  transition: 1s ease all; 
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}

.CarouselBtn {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  top: 25%;
  height: 50%;
  width: 8%;
  border-radius: 10px;
  background-color: white;
  opacity: 0.8;
}

.MultiCarousel:hover .CarouselBtn{
  visibility: visible;
}

.MultiCarousel .leftLst {
  left:0px;
}

.MultiCarousel .rightLst {
  right:0px;
}

.MultiCarousel .MultiCarousel-inner .item {
  display: inline-block;
  z-index:-1;
}

.MultiCarousel .MultiCarousel-inner .item > div {
  text-align: center;
  padding:10px;
  margin:10px;
  background:#f1f1f1;
  color:#666;
}